<h2>Home</h2><hr>
<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <p>Não acredite em algo simplesmente porque ouviu. Não acredite em algo simplesmente porque todos falam a respeito. Não acredite em algo simplesmente porque está escrito em seus livros religiosos. Não acredite em algo só porque seus professores e mestres dizem que é verdade. Não acredite em tradições só porque foram passadas de geração em geração. Mas, depois de muita análise e observação, se você vê que algo concorda com a razão e que conduz ao bem e benefício de todos, aceite-o e viva-o.</p>
            <small><a style="color: rgb(26, 97, 26);" target="_blank" href="https://www.pensador.com/autor/buda/">Buda</a></small><br>
        </div>
        <div class="col">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fAz8rLQmbKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>



