<h1>Depoimentos</h1><hr>

<section id="testimonies">
    <div class="card text-dark mb-3">
        <h5 class="card-header">Vitor Alexandre <small>15/08/2021</small></h5>
        <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam repellat quasi aspernatur tempora qui provident, repudiandae laboriosam at in perspiciatis placeat, illum esse deserunt totam. Eum saepe dolorum architecto minima.</div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">Vitor Alexandre <small>15/08/2021</small></h5>
        <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam repellat quasi aspernatur tempora qui provident, repudiandae laboriosam at in perspiciatis placeat, illum esse deserunt totam. Eum saepe dolorum architecto minima.</div>
    </div>
    <div class="card text-dark mb-3">
        <h5 class="card-header">Vitor Alexandre <small>15/08/2021</small></h5>
        <div class="card-body">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam repellat quasi aspernatur tempora qui provident, repudiandae laboriosam at in perspiciatis placeat, illum esse deserunt totam. Eum saepe dolorum architecto minima.</div>
    </div>
</section> <hr>

<section id="form">
    <h3>Envie o seu Depoimento!</h3>
    <form method="post">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" name="nome" required>
        </div>
        <div class="form-group">
            <label>Mensagem</label>
            <textarea class="form-control" name="mensagem" rows="5" required></textarea>
        </div>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-success">Enviar!</button>
        </div> 
    </form>
</section>
