<style>
    #inputs{
        border: 1px solid rgb(165, 165, 165);
        border-radius: 7px;
        height: 50px;
    }
</style>

<div class="d-flex justify-content-center">
    <div class="card mt-3 text-dark" style="width:70%; max-width:620px">
        <div class="card-header d-flex">
            <a href="{{URL}}/admin/login" >
                <button type="submit" style="margin-top:0.8%; position:fixed;" class="btn btn-outline-warning"><</button>   
            </a>
            <h1 class="mx-auto">Registro</h1> 
        </div>
        

        <div class="card-body">
            {{status}}
            <form method="post">
                <div class="row my-2">
                    <div class="col-lg-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="inputs" name="nome" required>
                            <label for="floatingInput">Nome</label>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg-12 "> 
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="inputs" name="email" required>
                                <label for="floatingInput">E-mail</label>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row my-2" >
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="inputs" name="senha" required>
                                <label for="floatingInput">Senha</label>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="inputs" name="senhaConfirm" required>
                                <label for="floatingInput">Confirmar Senha</label>
                            </div> 
                        </div>
                    </div>
                </div>
                <br>
                <div class="row my-2">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="inputs" name="cep" required>
                                <label for="floatingInput">CEP</label>
                            </div> 
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="inputs" name="cidade" required>
                            <label for="floatingInput">Cidade</label>
                        </div> 
                    </div>
                    <div class="col-lg-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="inputs" name="uf" required>
                            <label for="floatingInput">UF</label>
                        </div> 
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="inputs" name="bairro" required>
                            <label for="floatingInput">Bairro</label>
                        </div> 
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-lg-9">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="inputs" name="logradouro" required>
                            <label for="floatingInput">Logradouro</label>
                        </div> 
                    </div>
                    <div class="col-lg-3">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="inputs" name="numero" required>
                            <label for="floatingInput">Numero</label>
                        </div> 
                    </div>
                </div>
                <div class="mx-auto" style="width: 120px;">
                    <button type="submit" class="btn btn-success text-center">Cadastrar</button>
                </div>
            </form>
        </div>



    </div>
</div>